@using PagedList;
@using PagedList.Mvc;

@*@model IEnumerable<EMarkting.Models.Category>*@

@model IPagedList<EMarkting.Models.Category>
@{
    ViewBag.Title = "ViewCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewCategory</h2>

<table class="table">
    <tr>
        <th>
           Name
        </th>
        <th>
           Image
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Image)*@
                <img src="~/ImgUpload/@item.Image" style=" height:20px;width:20px;border-radius:5px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

@Html.PagedListPager(Model, Page => Url.Action("ViewCategory", new
{ Page }), new PagedListRenderOptions()
{
    Display = PagedListDisplayMode.IfNeeded,
    DisplayPageCountAndCurrentLocation = true
})